article.tint-box
  strong.crimson-box About Me
  img(src="img/man.jpg", style="padding-left: 0px") 
  p.muted(align="justify") Learner and reader, for fun and work. Love to code in Jade, Sass, Coffescript and LaTeX.



article
  h5.crimson-box My Expertises
  ul.muted.square
    li Web Development (Jade, Sass and Coffeescript)
    li Exploratory Data Analysis (R, Matlab)
    li Visualization (d3.js)
    li Document Typesetting (LaTeX, LyX)

article.tint-box
  strong.crimson-box Attention, hut!
  p.muted(align="justify") Hear the latest news from us. Subscribe now and enjoy internet's good news daily. 
  a(href="") Click here to Subscribe

