article
  h5.crimson-box Geographical Information System
  div
    strong  Author
    span.muted  | Publication Date
    span.muted  | Views
  h5 What are online and certified GIS courses?
  p.muted(align="justify") GIS web-courses and GIS certification exams are two different things. GIS web-courses are computer-based and held online, while GIS certification exams are also computer-based but held in formal testing center (e.g. Esri's certification exam). After finished GIS web-courses, the participant got certificates of completion, while GIS certification exams completion deliver associate / professional certification for the participant. 
  .row
    .column.small-4
      span.fi-folder  Read More
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple  Tag
        li: a(href="") GIS
        li: a(href="") Certification
    .column.small-12: hr

article
  h5.crimson-box Broadcast Yourself
  div
    strong Author
    span.muted  | Publication Date
    span.muted  | Views
  h5 What is the best online broadcasting free service(s)? 
  p.muted(align="justify") Broadcast Matrix apps turn PCs, Macs, iPhones, Android phones, iPods, iPads, Tablets, Blackberrys, Windows phones, and thousands of other devices in to RADIOS. Not just radios but your own personalized, branded Internet radio station that goes with your audience wherever they go. Your “radio station” can be tuned in around the world and shared over social media exponentially expanding your reach.
  .row
    .column.small-4
      span.fi-folder  Read More
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple  Tag
        li: a(href="") Free Broadcast
    .column.small-12: hr

article
  h5.crimson-box Jobs and Careers
  div
    strong Author
    span.muted  | Publication Date
    span.muted  | Views
  h5 Do you think the future of GIS is bright?
  p.muted(align="justify") GIS is required in most scientific, economic, governmental and empowerment fronts. There are substansial scientific, economic and social problems that can be solved by applying GIS. New starter in GIS usually captivated by its ability to create easy-to-use, attractive and informative maps (cartography's point of view), but once they dig deeper, suddenly there are realization that GIS is also about sophisticated image analysis, various statistical and analytical procedures, prediction, decision-making and various other things.
  .row
    .column.small-4
      span.fi-folder  Read More
    .column.small-8
      ul.inline-list
        li: span.fi-pricetag-multiple  Tag
        li: a(href="") Careers
        li: a(href="") Future jobs